# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log

# venv
env/
venv/
**/venv/

# environment variables
.env
**/.env

# other
.DS_Store

# sphinx docs 
_build
_static
_templates

# javascript
package-lock.json
.vscode/symbols.json
node_modules/
**/node_modules/
**/yarn.lock
**/.temp

# ShareTracker-Web specific
ShareTracker-Web/sharetracker/apps/static/assets/node_modules
ShareTracker-Web/sharetracker/apps/static/assets/yarn.lock
ShareTracker-Web/sharetracker/apps/static/assets/.temp

